div#main {
    width: 760px;
    margin: 0 auto;
    border-radius: 20px;
    border: 3px dotted black;
    padding: 20px;
}

div#caption {
    font-size: 2em;
    font-weight: bold;
}

div#counter {
    text-align: center;
    font-size: 30em;
}

div#buttons {
    /*width: 600px;
    padding-left: 200px;*/
    text-align: center;
}

div#buttons button {
    height: 75px;
    width: 250px;
    margin-left: 10px;
    border-radius: 10px;
    font-size: 3em;
    background: none;
    box-shadow: none;
    border: 1px solid black;
}
